@import './vars/vars.scss';

body, html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(button, li, ol, span, h1, h2, h3, h4, h5){
    text-decoration: none;
    background-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
}